menu "Application configuration"

	menu "Board Type Select"

		choice BBOARD_TYPE
			bool "board type"
			default MAIX_DOCK
				
		config MAIX_DOCK
			bool "default DOCK board"

		config SELF_DEFINE			
			bool "client 1 board"
		endchoice
		
	endmenu

			
	menu "Drivers configuration"
		# camera
		osource "${SDK_PATH}/components/drivers/camera/Kconfig"
	
		# lcd
		osource "${SDK_PATH}/components/drivers/lcd/Kconfig"
	
		#flash
		osource "${SDK_PATH}/components/drivers/flash/Kconfig"
		
		# sd_card
		osource "${SDK_PATH}/components/drivers/sd_card/Kconfig"
	
	endmenu

	menu "IMAGE FORMAT setting"
		comment "SAVE IMAGE TO sd_card BY PRESS KEY"
		config KEY_SAVE
			bool "enable key save"
			default n
			select ENABLE_SD_CARD
			
		config KEY_BTN_NUM
			depends on KEY_SAVE
			int "key button number"
			default 16
		config KEY_BTN_NUM_GPIOHS
			depends on KEY_SAVE
			int "gpiohs key button number"
			default 0

		config IMAGE_SUFFIX
			depends on KEY_SAVE
			string "image suffix to save, jpg or bmp"
			default bmp
		config JPEG_BUF_LEN
			depends on IMAGE_SUFFIX="jpg"
			int "JPEG image size(KB) buffer"
			default 30
		config JPEG_COMPRESS_QUALITY
			depends on IMAGE_SUFFIX="jpg"
			int "JPEG compress quality"
			default 90	
	endmenu

	menu "READ IMAGE"
		comment "READ IMAGE FROM SDCARD"
		config READ_IMG_SDCARD
			bool "read jpg from sd_card"
			default n
			select ENABLE_JPEG_DECODE
			
	endmenu

endmenu

