menu "Application configuration"

	menu "Board Type Select"

		choice BBOARD_TYPE
			bool "board type"
			default MAIX_DOCK
				
		config MAIX_DOCK
			bool "default DOCK board"

		config SELF_DEFINE			
			bool "client 1 board"
		endchoice
		
	endmenu

			
	menu "Drivers configuration"
		# camera
		osource "${SDK_PATH}/components/drivers/camera/Kconfig"
	
		# lcd
		osource "${SDK_PATH}/components/drivers/lcd/Kconfig"
	
		#flash
		osource "${SDK_PATH}/components/drivers/flash/Kconfig"
		
		# sd_card
		osource "${SDK_PATH}/components/drivers/sd_card/Kconfig"
	
	endmenu

	menu "NetWork"
		config NET_ENABLE
			bool "enable network"
			default n

		choice NET_IF_TYPE
			depends on NET_ENABLE
			bool "net interface type"
			default NET_ESP8285

			config NET_ESP8285
				bool "wifi, use esp8285"
				select ENABLE_WIFI
				---help---
				MF1 with M1w have a esp8285

			config NET_W5500
				bool "ethernet, use w5500"
				select ENABLE_W5500
				---help---
				should have a extended w5500 board
		endchoice

		menu "WiFi configuration"
			depends on NET_ESP8285

			config ENABLE_WIFI
				bool "enable wifi over esp8285"
				default y

			menu "WiFi Pin configuration"
				config PIN_NUM_WIFI_EN
					int "WiFi enable pin number"
					default 8
				config PIN_NUM_WIFI_TX
					int "wifi TX pin number"
					default 6
				config PIN_NUM_WIFI_RX
					int "wifi RX pin number"
					default 7

				comment "-------------------------"	

				config PIN_NUM_WIFI_SPI_SCLK 
					depends on ENABLE_WIFI
					int "WiFi simulate SPI SCLK pin"
					default 1
				config PIN_NUM_WIFI_SPI_MOSI
					depends on ENABLE_WIFI
					int "WiFi simulate SPI MOSI pin"
					default 3
				config PIN_NUM_WIFI_SPI_MISO
					depends on ENABLE_WIFI
					int "WiFi simulate SPI MISO pin"
					default 2
				config PIN_NUM_WIFI_SPI_CS
					depends on ENABLE_WIFI
					int "WiFi simulate SPI CS pin"
					default 0
			endmenu

			menu "WiFi Pin Func configuration"
			config GPIOHS_NUM_WIFI_EN 
				int "WiFi enable gpiohs number"
				default 15

			config GPIO_NUM_WIFI_TX
				int "WiFi Tx gpiohs number"
				default 0

			config GPIO_NUM_WIFI_RX
				int "WiFi Rx gpiohs number"
				default 1

			comment "-------------------------"	

			config GPIOHS_NUM_WIFI_SPI_CS
				depends on ENABLE_WIFI
				int "WiFi Spi Cs gpiohs number"
				default 16
			endmenu
		endmenu

		menu "W500 configuration"
			depends on NET_W5500

			config ENABLE_W5500
				bool "enable ethernet over w5500"
				default n

			menu "W5500 Pin configuration"
				depends on ENABLE_W5500

				config PIN_NUM_ETH_W5500_MOSI 
					int "Ethernet Spi mosi pin"
					default 13

				config PIN_NUM_ETH_W5500_MISO
					int "Ethernet Spi miso pin"
					default 12

				config PIN_NUM_ETH_W5500_SCLK
					int "Ethernet Spi sclk pin"
					default 14

				config PIN_NUM_ETH_W5500_CS
					int "Ethernet Spi cs pin"
					default 31

				config PIN_NUM_ETH_W5500_RST
					int "Ethernet rst pin"
					---help---
					default not use this one pin
			endmenu

			menu "W5500 Pin Func configuration"
				depends on ENABLE_W5500

				config GPIOHS_NUM_W5500_CS
					int "GPIOHS num of Ethernet W5500's cs pin"
					default 15

				config GPIOHS_NUM_W5500_RST
					int "GPIOHS num of Ethernet W5500's rst pin"
					default 16
			endmenu
		endmenu

	endmenu

endmenu

